.entry-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: calc(var(--spacing) * 2);
}

.entry-form__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
