.header {
  width: 100vw;
  max-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-water-10);
  height: var(--header-height);
  max-height: var(--header-height);
}
